Merge all the dataframe created in initial feature engineering, create additional features below:

data['prod_reorder_probability'] = data.prod_second_orders / data.prod_first_orders

data['prod_reorder_times'] = 1 + data.prod_reorders / data.prod_first_orders

data['prod_reorder_ratio'] = data.prod_reorders / data.prod_orders

data.drop(['prod_reorders', 'prod_first_orders', 'prod_second_orders'], axis=1, inplace=True)

data['user_average_basket'] = data.user_total_products / data.user_orders

data['up_order_rate'] = data.up_orders / data.user_orders

data['up_orders_since_last_order'] = data.user_orders - data.up_last_order

data['up_order_rate_since_first_order'] = data.up_orders / (data.user_orders - data.up_first_order + 1)

Please think about what those features mean? Can you think of any other features?

In [1]:
import pandas as pd
import numpy as np

In [2]:
user_feature_1 = pd.read_csv('user_feature_1.csv')
user_feature_2 = pd.read_csv('user_feature_2.csv')
up_feature = pd.read_csv('up_feature.csv')
prd_feature = pd.read_csv('prd_feature.csv')

In [3]:
print(user_feature_1.shape)
print(user_feature_2.shape)
print(up_feature.shape)
print(prd_feature.shape)

(206209, 4)
(206209, 4)
(13307953, 6)
(49677, 5)

In [4]:
user_feature_1.head()

,user_id,user_orders,sum_days_since_prior_order,avg_days_since_prior_order
0,1,10,176.0,17.600000
1,2,14,198.0,14.142857
2,3,12,133.0,11.083333
3,4,5,55.0,11.000000
4,5,4,40.0,10.000000

In [5]:
user_feature_2.head()

   user_id  total_products  distinct_products  reordered_ratio
0        1              59                 18         0.759259
1        2             195                102         0.510989
2        3              88                 33         0.705128
3        4              18                 17         0.071429
4        5              37                 23         0.538462

In [6]:
up_feature.head()

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position
0,1,196,10,1,10,1.400000
1,1,10258,9,2,10,3.333333
2,1,10326,1,5,5,5.000000
3,1,12427,10,1,10,3.300000
4,1,13032,3,2,10,6.333333

In [7]:
prd_feature.head()

,product_id,prod_orders,prod_reorders,prod_first_orders,prod_second_orders
0,1,1852,1136,716.0,276.0
1,2,90,12,78.0,8.0
2,3,277,203,74.0,36.0
3,4,329,147,182.0,64.0
4,5,15,9,6.0,4.0

In [8]:
combined1 = pd.merge(user_feature_1,user_feature_2,on='user_id' )
combined1.head()

,user_id,user_orders,sum_days_since_prior_order,avg_days_since_prior_order,total_products,distinct_products,reordered_ratio
0,1,10,176.0,17.600000,59,18,0.759259
1,2,14,198.0,14.142857,195,102,0.510989
2,3,12,133.0,11.083333,88,33,0.705128
3,4,5,55.0,11.000000,18,17,0.071429
4,5,4,40.0,10.000000,37,23,0.538462

In [9]:
combined2=pd.merge(up_feature, combined1, how ='left', on='user_id')
combined2.fillna(0)
combined2.head()

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,user_orders,sum_days_since_prior_order,avg_days_since_prior_order,total_products,distinct_products,reordered_ratio
0,1,196,10,1,10,1.400000,10,176.0,17.6,59,18,0.759259
1,1,10258,9,2,10,3.333333,10,176.0,17.6,59,18,0.759259
2,1,10326,1,5,5,5.000000,10,176.0,17.6,59,18,0.759259
3,1,12427,10,1,10,3.300000,10,176.0,17.6,59,18,0.759259
4,1,13032,3,2,10,6.333333,10,176.0,17.6,59,18,0.759259

In [10]:
print(combined2.shape)

(13307953, 12)

In [11]:
combined3 = pd.merge(combined2, prd_feature, how = 'left', on='product_id')
combined3.fillna(0)
combined3.head()

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,user_orders,sum_days_since_prior_order,avg_days_since_prior_order,total_products,distinct_products,reordered_ratio,prod_orders,prod_reorders,prod_first_orders,prod_second_orders
0,1,196,10,1,10,1.400000,10,176.0,17.6,59,18,0.759259,35791,27791,8000.0,4660.0
1,1,10258,9,2,10,3.333333,10,176.0,17.6,59,18,0.759259,1946,1389,557.0,308.0
2,1,10326,1,5,5,5.000000,10,176.0,17.6,59,18,0.759259,5526,3603,1923.0,1003.0
3,1,12427,10,1,10,3.300000,10,176.0,17.6,59,18,0.759259,6476,4797,1679.0,889.0
4,1,13032,3,2,10,6.333333,10,176.0,17.6,59,18,0.759259,3751,2465,1286.0,617.0

In [12]:
print(combined3.shape)

(13307953, 16)

In [13]:
combined3.columns
combined3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13307953 entries, 0 to 13307952
Data columns (total 16 columns):
 #   Column                      Dtype
---  ------                      -----
 0   user_id                     int64
 1   product_id                  int64
 2   up_orders                   int64
 3   up_first_order              int64
 4   up_last_order               int64
 5   up_average_cart_position    float64
 6   user_orders                 int64
 7   sum_days_since_prior_order  float64
 8   avg_days_since_prior_order  float64
 9   total_products              int64
 10  distinct_products           int64
 11  reordered_ratio             float64
 12  prod_orders                 int64
 13  prod_reorders               int64
 14  prod_first_orders           float64
 15  prod_second_orders          float64
dtypes: float64(6), int64(10)
memory usage: 1.7 GB

In [14]:
combined3['prod_reorder_probability'] = combined3.prod_second_orders / combined3.prod_first_orders

In [15]:
combined3['prod_reorder_times'] = 1 + combined3.prod_reorders / combined3.prod_first_orders

In [16]:
combined3['prod_reorder_ratio'] = combined3.prod_reorders / combined3.prod_orders

In [17]:
combined3.head()

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,user_orders,sum_days_since_prior_order,avg_days_since_prior_order,total_products,distinct_products,reordered_ratio,prod_orders,prod_reorders,prod_first_orders,prod_second_orders,prod_reorder_probability,prod_reorder_times,prod_reorder_ratio
0,1,196,10,1,10,1.400000,10,176.0,17.6,59,18,0.759259,35791,27791,8000.0,4660.0,0.582500,4.473875,0.776480
1,1,10258,9,2,10,3.333333,10,176.0,17.6,59,18,0.759259,1946,1389,557.0,308.0,0.552962,3.493716,0.713772
2,1,10326,1,5,5,5.000000,10,176.0,17.6,59,18,0.759259,5526,3603,1923.0,1003.0,0.521581,2.873635,0.652009
3,1,12427,10,1,10,3.300000,10,176.0,17.6,59,18,0.759259,6476,4797,1679.0,889.0,0.529482,3.857058,0.740735
4,1,13032,3,2,10,6.333333,10,176.0,17.6,59,18,0.759259,3751,2465,1286.0,617.0,0.479782,2.916796,0.657158

In [18]:
data=combined3
data.head()

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,user_orders,sum_days_since_prior_order,avg_days_since_prior_order,total_products,distinct_products,reordered_ratio,prod_orders,prod_reorders,prod_first_orders,prod_second_orders,prod_reorder_probability,prod_reorder_times,prod_reorder_ratio
0,1,196,10,1,10,1.400000,10,176.0,17.6,59,18,0.759259,35791,27791,8000.0,4660.0,0.582500,4.473875,0.776480
1,1,10258,9,2,10,3.333333,10,176.0,17.6,59,18,0.759259,1946,1389,557.0,308.0,0.552962,3.493716,0.713772
2,1,10326,1,5,5,5.000000,10,176.0,17.6,59,18,0.759259,5526,3603,1923.0,1003.0,0.521581,2.873635,0.652009
3,1,12427,10,1,10,3.300000,10,176.0,17.6,59,18,0.759259,6476,4797,1679.0,889.0,0.529482,3.857058,0.740735
4,1,13032,3,2,10,6.333333,10,176.0,17.6,59,18,0.759259,3751,2465,1286.0,617.0,0.479782,2.916796,0.657158

In [19]:
data['user_average_basket'] = data.total_products / data.user_orders

In [20]:
data['up_order_rate'] = data.up_orders / data.user_orders

In [21]:
data['up_orders_since_last_order'] = data.user_orders - data.up_last_order

In [22]:
data['up_order_rate_since_first_order'] = data.up_orders / (data.user_orders - data.up_first_order + 1)

In [23]:
data.head()

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,user_orders,sum_days_since_prior_order,avg_days_since_prior_order,total_products,...,prod_reorders,prod_first_orders,prod_second_orders,prod_reorder_probability,prod_reorder_times,prod_reorder_ratio,user_average_basket,up_order_rate,up_orders_since_last_order,up_order_rate_since_first_order
0,1,196,10,1,10,1.400000,10,176.0,17.6,59,...,27791,8000.0,4660.0,0.582500,4.473875,0.776480,5.9,1.0,0,1.000000
1,1,10258,9,2,10,3.333333,10,176.0,17.6,59,...,1389,557.0,308.0,0.552962,3.493716,0.713772,5.9,0.9,0,1.000000
2,1,10326,1,5,5,5.000000,10,176.0,17.6,59,...,3603,1923.0,1003.0,0.521581,2.873635,0.652009,5.9,0.1,5,0.166667
3,1,12427,10,1,10,3.300000,10,176.0,17.6,59,...,4797,1679.0,889.0,0.529482,3.857058,0.740735,5.9,1.0,0,1.000000
4,1,13032,3,2,10,6.333333,10,176.0,17.6,59,...,2465,1286.0,617.0,0.479782,2.916796,0.657158,5.9,0.3,0,0.333333

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13307953 entries, 0 to 13307952
Data columns (total 23 columns):
 #   Column                           Dtype
---  ------                           -----
 0   user_id                          int64
 1   product_id                       int64
 2   up_orders                        int64
 3   up_first_order                   int64
 4   up_last_order                    int64
 5   up_average_cart_position         float64
 6   user_orders                      int64
 7   sum_days_since_prior_order       float64
 8   avg_days_since_prior_order       float64
 9   total_products                   int64
 10  distinct_products                int64
 11  reordered_ratio                  float64
 12  prod_orders                      int64
 13  prod_reorders                    int64
 14  prod_first_orders                float64
 15  prod_second_orders               float64
 16  prod_reorder_probability         float64
 17  prod_reorder_times               float64
 18  prod_reorder_ratio               float64
 19  user_average_basket              float64
 20  up_order_rate                    float64
 21  up_orders_since_last_order       int64
 22  up_order_rate_since_first_order  float64
dtypes: float64(12), int64(11)
memory usage: 2.4 GB

In [25]:
data.to_csv('data.csv', index=False)

In [26]:
pd.read_csv('data.csv')

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,user_orders,sum_days_since_prior_order,avg_days_since_prior_order,total_products,...,prod_reorders,prod_first_orders,prod_second_orders,prod_reorder_probability,prod_reorder_times,prod_reorder_ratio,user_average_basket,up_order_rate,up_orders_since_last_order,up_order_rate_since_first_order
0,1,196,10,1,10,1.400000,10,176.0,17.600000,59,...,27791,8000.0,4660.0,0.582500,4.473875,0.776480,5.900000,1.000000,0,1.000000
1,1,10258,9,2,10,3.333333,10,176.0,17.600000,59,...,1389,557.0,308.0,0.552962,3.493716,0.713772,5.900000,0.900000,0,1.000000
2,1,10326,1,5,5,5.000000,10,176.0,17.600000,59,...,3603,1923.0,1003.0,0.521581,2.873635,0.652009,5.900000,0.100000,5,0.166667
3,1,12427,10,1,10,3.300000,10,176.0,17.600000,59,...,4797,1679.0,889.0,0.529482,3.857058,0.740735,5.900000,1.000000,0,1.000000
4,1,13032,3,2,10,6.333333,10,176.0,17.600000,59,...,2465,1286.0,617.0,0.479782,2.916796,0.657158,5.900000,0.300000,0,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13307948,206209,43961,3,4,12,8.000000,13,210.0,16.153846,129,...,34916,20455.0,10527.0,0.514642,2.706967,0.630583,9.923077,0.230769,1,0.300000
13307949,206209,44325,1,7,7,8.000000,13,210.0,16.153846,129,...,1398,2087.0,605.0,0.289890,1.669861,0.401148,9.923077,0.076923,6,0.142857
13307950,206209,48370,1,11,11,8.000000,13,210.0,16.153846,129,...,2751,1183.0,701.0,0.592561,3.325444,0.699288,9.923077,0.076923,2,0.333333
13307951,206209,48697,1,7,7,6.000000,13,210.0,16.153846,129,...,3499,6284.0,1638.0,0.260662,1.556811,0.357661,9.923077,0.076923,6,0.142857
13307952,206209,48742,2,7,12,9.000000,13,210.0,16.153846,129,...,859,864.0,310.0,0.358796,1.994213,0.498549,9.923077,0.153846,1,0.285714